@import "design.scss";

button {
  background: $primary-gradient;
  border: none;
  border-radius: $border-radius-small;
  padding: $space-md $space-lg;
  color: white;
  font-weight: 500;
  font-size: 1rem;

  &.danger {
    background: $danger-gradient;
  }
}
